# ignore everything
/*
/*/

!.gitignore

!.xinitrc

!.config/
.config/*
!.config/bspwm
!.conf/sxhkd

!.zshrc
!.Xresources

!.vimrc

!.vim/
.vim/*
!.vim/colors/
!.vim/colors/factory.vim

!.tmux.conf

!.scripts/
.scripts/*
!.scripts/files
