# ignore everything
/*
/*/

!.gitignore

!.xinitrc

!.config/
.config/*
!.config/bspwm
!.config/sxhkd

!.zshrc
!.Xresources

!.vimrc

!.vim/
.vim/*
!.vim/colors/
!.vim/colors/factory.vim

!.tmux.conf

!.scripts/
.scripts/*
!.scripts/files

!.ncmpcpp/
.ncmpcpp/*
!.ncmpcpp/config
