!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------
!URxvt.termName:         rxvt-256color
URxvt.keysym.Escape: \033\007

URxvt.iso14755: False
!URxvt.iso14755_52: False

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

URxvt.font:             xft:inconsolata:size=12
URxvt.boldFont:         xft:inconsolata:size=12

URxvt.geometry: 90x30
URxvt.fading: 0
URxvt.urgentOnBell: false
URxvt.visualBell: false
URxvt.loginShell: true
URxvt.saveLines: 150
URxvt.internalBorder: 7
URxvt.lineSpace: 0

! enable the extension (note that you must use an absolute path, no ~/...)
!urxvt*perl-lib: /home/vandrex/.scripts/urxvt-vim-scrollback
!urxvt*perl-ext-common: vim-scrollback

! configure alt-s as the keybinding to enter vim scrollback mode.
urxvt.vim-scrollback: M-s

! configure alt-p as the keybinding to paste mode.
urxvt.vim-scrollback-paste: M-p

! configure the background and foreground colors used for the status bar while
! in scrollback mode.
urxvt.vim-scrollback-bg: 16
urxvt.vim-scrollback-fg: 10

! configure vim-scrollback specific matchers
urxvt.vim-scrollback.pattern.1: \\B(/\\S+?):(\\d+)(?=:|$)
urxvt.vim-scrollback.launcher.1: gvim +$2 $1

! configure the command used when opening urls. Note: uses the same
! configuration as the url launcher script shipped with urxvt.
urxvt*urlLauncher: firefox

! Fix font space
URxvt*letterSpace: -1
 
! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false


URxvt*scrollTtyOutput:  false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress:  true


! Selection Copy
! https://github.com/muennich/urxvt-perls
URxvt.perl-lib: /home/vandrex/.scripts/system/urxvt-perls
! URxvt.perl-ext-common: ...,clipboard
URxvt.perl-ext-common: clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ibp
URxvt.clipboard.pastecmd: xsel -obp

URxvt.depth: 32
URxvt.background: [80]#232c31

URxvt*foreground: #FFFFFF
URxvt*background: #232c31
!black
*color0: #DBDEDF
*color8: #bdc3c7
!red
*color1: #E84F4F
*color9: #DD4444
!green
*color2: #C0D847
*color10: #A9BE42
!yellow
*color3: #F9D83F
*color11: #FCB02D
!blue
*color4: #64B7CA
*color12: #4DA9B4
!magenta
*color5: #C73F73
*color13: #E16A98
!cyan
*color6: #64B7CA
*color14: #4DA9B4
!white
*color7: #FFFFFF
*color15: #FFFFFF

! xscreensaver ---------------------------------------------------------------
xscreensaver.verbose: False
xscreensaver.timestamp: False

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #666666
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8
xscreensaver.Dialog.logo.width: 0
xscreensaver.Dialog.logo.height: 0

xscreensaver.dateFormat: 
xscreensaver.passwd.heading.label: 
xscreensaver.passwd.body.label: 
xscreensaver.passwd.unlock.label: unlock
xscreensaver.passwd.login.label: n/a 
xscreensaver.passwd.user.label:  
xscreensaver.passwd.asterisks: True
xscreensaver.passwd.uname: False

xscreensaver.splash.heading.label: 
xscreensaver.splash.body.label: 
xscreensaver.splash.body2.label: 
xscreensaver.splash.demo.label: 
xscreensaver.splash.help.label: 

